.loginForm label, .registerForm label, .loginForm input, .registerForm input {
  font-family: HelveticaNeue;
  color: #77808A; }

html {
  min-height: 100%; }

body {
  background-image: linear-gradient(-180deg, #1FBBB9 0%, #FFFFFF 96%);
  margin: 0px; }

.loginForm, .registerForm, .landingCTA {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.loginForm .greenCTA, .registerForm .greenCTA, .landingCTA {
  transition-duration: 0.3s;
  transition-property: transform; }
  .loginForm .greenCTA:hover, .registerForm .greenCTA:hover, .landingCTA:hover {
    transform: scale(1.05);
    cursor: pointer; }

.nav {
  border-bottom: white 1px solid;
  margin: 0 15px; }
  .nav .headerLogo {
    width: 150px;
    margin: 15px 0; }

.loginForm, .registerForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loginForm, .registerForm {
  max-width: 320px;
  width: 320px;
  min-width: 240px;
  padding: 55px 40px;
  height: 375px;
  margin: 0 auto; }
  .loginForm .bibliotecaLogo, .registerForm .bibliotecaLogo {
    margin-bottom: 25px;
    max-width: 218px;
    align-self: center; }
  .loginForm label, .registerForm label {
    font-size: 18px;
    line-height: 36px; }
  .loginForm input, .registerForm input {
    margin-bottom: 20px;
    padding: 0px 20px;
    font-size: 18px;
    line-height: 36px;
    background: #E5E9ED;
    border: 0 solid rgba(208, 208, 208, 0.5);
    border-radius: 2.2px;
    height: 55px; }
  .loginForm .greenCTA, .registerForm .greenCTA {
    margin: 15px 0 25px;
    background: #3AD29F;
    border-radius: 6px;
    border-color: transparent;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    line-height: 12px;
    text-transform: uppercase;
    height: 50px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }

.landingCTA {
  width: 280px;
  max-width: 315px;
  height: 100px;
  font-family: HelveticaNeue-Bold;
  font-size: 22px;
  color: #77808A;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  border: white; }
  .landingCTA .icon {
    margin: 20px;
    max-height: 40px; }

.landingContent {
  text-align: center;
  margin-top: 10%; }
  .landingContent .hello {
    font-family: HelveticaNeue-Bold;
    font-size: 38px;
    color: white; }

.landingGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center; }

.registerForm {
  max-width: 760px;
  width: 760px;
  min-width: 240px;
  height: 613px; }
  .registerForm .registerRow {
    display: flex;
    flex-direction: row; }
    .registerForm .registerRow span {
      display: flex;
      flex-direction: column; }
    .registerForm .registerRow .adminRow {
      flex-direction: row; }

/* Estilo iOS */
.switch__container {
  margin: 30px auto;
  width: 120px; }

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px; }

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

.switch--shadow + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px; }

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s; }

.switch--shadow + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s; }

.switch--shadow:checked + label:before {
  background-color: #8ce196; }

.switch--shadow:checked + label:after {
  transform: translateX(60px); }

/*# sourceMappingURL=index.css.map */
