<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- bootstap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% load static %}
    <script src="{% static 'js/functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">     
</head>
<body>
    <div class="nav">
        <img class="headerLogo" src="../../../static/images/bibliotecaLogoWhite.svg">
        <div class="linkArea">
            <a href="/client" class="navLink">Dashboard</a>
            <a href="/client/cart" class="navLink">Cart ({{ cart|length }})</a>
        </div>
    </div>
    <div class="viewLoansContent">
        <h1 class="pageTitle">Loans</h1>
        <div class="loansTable">
        {% if loans %}
            <table class="table"> 
                {% for item in loans %}
                    <tr>
                        <td><img src="../../../static/images/{{ item.item_type }}Icon.svg"></td>
                        <td>
                            <span><span class="bold">Title: </span> {{ item.title }}</span>
                            <span><span class="bold">Item Type: </span> {{ item.item_type }}</span>
                        </td>
                        
                        <td><span><span class="bold">Date borrowed: </span> {{ item.lent_date }} </span></td>
                        <td><span><span class="bold">Due date: </span>{{ item.return_date }}</span></td>
                        <td><span><span class="bold">Loan status: </span>{{ item.loan_status }}</span></td>
                        <td>
                            <a class="returnLoan" name="return-loan-button" onclick="returnItem({{ item.loan_id }})">
                                    <img src="../../../static/images/returnItem.svg"></a>                        
                        </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h4 class="emptyLoans">You have no current loans</h4>
            <div class="emptyLoansGrid"> 
                <button class="loansCTA" type="button" onclick="location.href = '/client/items';">
                    <img class="icon" src="../../../static/images/catalog.svg">
                    <span>View Catalog</span>
                </button>
                <button class="loansCTA" type="button" onclick="location.href = '/client/cart';">
                    <img class="icon" src="../../../static/images/cart.svg">
                    <span>View Cart</span>
                </button>
            </div>
        {% endif %}
        </div>
    </div>
    <a class="backButton" href="{% url 'client_landing' %}">❮ Back</a>
</body>
</html>