<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <script src="{% static 'js/functions.js' %}"></script> 
    <script src="{% static 'js/customSelectForm.js' %}"></script>   
</head>
<body onload="customSelect()">
    <div class="nav">
        <img class="headerLogo" src="../../../static/images/bibliotecaLogoWhite.svg">
        <div class="linkArea">
            <a href="/client" class="navLink">Dashboard</a>
            <a href="/client/cart" class="navLink">Cart ({{ cart|length }})</a>
        </div>
    </div>
    <div class="catalogContent">
            <form action="/client/items" method="get">
                <div class="catalogTabs">
                    <div class="hidden">
                        {{ form }}
                        <input type="submit" name = "change_item_type" value="Browse"><br/>
                    </div>
                    <button class="itemTabs" type="submit" name ="item_type" value="Magazine">
                        <img src="../../../static/images/magazineTab.svg">
                    </button>
                    <button class="itemTabs" type="submit" name ="item_type" value="Book">
                        <img src="../../../static/images/bookTab.svg">
                    </button>
                    <button class="itemTabs"type="submit" name ="item_type" value="Music">
                        <img src="../../../static/images/musicTab.svg">
                    </button>
                    <button class="itemTabs" type="submit" name ="item_type" value="Movie">
                        <img src="../../../static/images/movieTab.svg">
                    </button>
                </div>
                <div class="headerLine">
                    <h1 class="pageTitle">{{ form.initial.item_type }}</h1>
                    <div>
                        <img id="filter" onclick="toggleFilter()" src="../../../static/images/filter.svg">
                    </div>
                </div>
                <div id="filterRow" class="hidden">
                    {% if items %}
                    <div class="sortForm">
                        {{ sorting_form.as_p }}
                        <button type="submit" name="change_sorting_type" value="sort" class="enterButton">❯</button>
                    </div>
                    {% else %}
                    <p>There are no more parameters to sort by.</p>
                    {% endif %}
                    <div class="filterForm">
                        {{ filter_form.as_p }}
                        <button type="submit" name="apply_filter", value="filter" class="enterButton">❯</button>
                    </div>
                </div>
            </form>
            {% if items %}
            <div class="itemGrid"> 
                {% for item in items %}
                <div class="itemContainer">
                    <div class="itemContent">
                        <img src="../../../static/images/{{ form.initial.item_type }}Icon.svg">
                        <div>
                            <div class="itemInfo">
                                {% for key, value in item.items %}
                                <span>
                                    <span class="bold">{{ key }}:</span> {{ value }}
                                </span>
                                {% endfor %}
                            </div>
                            {% if item_type != "Magazine" %}
                                <button type="button" name="add-cart-button" class="addCart" onclick="addToCart({{ item.id }})">
                                    Add To Cart
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="topButton" onclick="topFunction()"><span>❮</span>&nbsp;&nbsp;Top</button>
        </div>
        {% else %}
        <p>There are no items that match your request.</p>
        {% endif %}
        <a class="backButton" href="{% url 'client_landing' %}">❮ Back</a>
</body>
</html>
