<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% load static %}
    <script src="{% static 'js/functions.js' %}"></script>     
</head>
<body>
    <table class="table"> 
        <tr>
            <th>Title</th>
            <th>Item Type</th>
            <th>Date Borrowed</th>
            <th>Date Due</th>
            <th>Loan Status</th>
        </tr>
        {% for item in loans %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.item_type }}</td>
                <td>
                    <span id="lent{{ forloop.counter }}"></span>
                    <script>
                        convertTimeZone('lent{{ forloop.counter }}', '{{ item.lent_date.year }}',
                                '{{ item.lent_date.month }}', '{{ item.lent_date.day }}',
                                '{{ item.lent_date.hour }}', '{{ item.lent_date.minute }}',
                                '{{ item.lent_date.second }}');
                    </script>
                </td>
                <td>
                    <span id="return{{ forloop.counter }}"></span>
                    <script>
                        convertTimeZone('return{{ forloop.counter }}', '{{ item.return_date.year }}',
                                '{{ item.return_date.month }}', '{{ item.return_date.day }}',
                                '{{ item.return_date.hour }}', '{{ item.return_date.minute }}',
                                '{{ item.return_date.second }}');
                    </script>
                <td>{{ item.loan_status }}</td>
                <td><button class="btn btn-primary" type="button" name="return-item-button" onclick="returnItem({{ item.loan_id }})">Return Item</button></td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'client_landing' %}">Back</a>
</body>
</html>