.landingCTA {
    @extend %container;
    @extend %hover;
    width: 280px;
    max-width: 315px;
    height: 100px;
    font-family: $bold;
    font-size: 22px;
    color: $grey;
    flex-direction: row;
    margin: 15px;
    align-items: center;
    border: white;
    .icon {
        margin: 20px;
        max-height: 40px;
    }
}

.landing {
    @extend %container;
}

.headerLogo {
    width: 150px;
    margin: 15px;
}

.hello {
    font-family: $bold;
    font-size: 38px;
    color:white;
}

.bodyDiv {
    text-align: center;
    margin-top: 10%;
}

div hr {
    position: relative;
    bottom: 0;
    width:100%;
    margin: 0px 15px 0px 15px;
    border: 1px solid #FFFFFF;
}

.landingGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
}
