$green: #3AD29F;
$grey: #77808A;
$lightgrey: #E5E9ED;
$background: linear-gradient(-180deg, #1FBBB9 0%, #FFFFFF 96%);
$shadow: 0 8px 60px 0 rgba(0,0,0,0.20);
$cta-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
$red: #F2475C;