.custom-select {
    position: relative;
    select {
        display: none; /*hide original SELECT element:*/
      }
  }

.select-selected {
    background-color: white;
    color: $grey;
    padding: 8px 16px;
    border-radius: 6px;
    border-color: transparent transparent $lightgrey transparent;
    cursor: pointer;
    user-select: none;
    &:hover,
    &.select-arrow-active {
        border: 1px solid $grey;
    }
    /*arrow inside the select element*/
    &:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $grey transparent transparent transparent;
        }
    /*point the arrow upwards when the select box is open*/
    &.select-arrow-active:after {
        border-color: transparent transparent $grey transparent;
        top: 7px;
    }
}

/* options */
.select-items {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    border: 1px solid $grey;
    margin-top: 4px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    div {
        @extend .select-selected;
        &:hover,
        &.select-arrow-active {
            @extend .same-as-selected;
            border: none;
        }
        &:after {
            border: none;
            }
        }
}

/*hide the items when the select box is closed:*/
.select-hide {
display: none;
}

.same-as-selected {
background-color: $lightgrey;
}