.custom-select {
    position: relative;
    select {
        display: none; /* hide original SELECT element */
      }
  }

.select-selected {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0px 20px;
    align-items: center;
    background-color: white;
    color: $grey;
    margin-top: 4px;
    border-radius: 6px;
    border-color: transparent transparent $lightgrey transparent;
    cursor: pointer;
    user-select: none;
    box-shadow: $cta-shadow;
    &:hover,
    &.select-arrow-active {
        border: 1px solid $grey;
    }
    /*arrow inside the select element*/
    &:after {
        position: relative;
        content: "";
        top: 2px;
        border: 4px solid transparent;
        border-color: $grey transparent transparent transparent;
        }
    /*point the arrow upwards when the select box is open*/
    &.select-arrow-active:after {
        border-color: transparent transparent $grey transparent;
        top: -2px;
    }
}

/* options */
.select-items {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    border: 1px solid $grey;
    margin-top: 4px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    div {
        @extend .select-selected;
        box-shadow: none;
        margin-top: 0;
        &:hover,
        &.select-arrow-active {
            @extend .same-as-selected;
            border: none;
        }
        &:after {
            border: none;
            }
        }
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.same-as-selected {
    background-color: $lightgrey;
}