html{
    min-height: 100%;
}

body {
    background-image: $background;
    margin: 0px;
}

%container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: $shadow;
    border-radius: 10px;
}

%hover {
    transition-duration: 0.3s;
    transition-property: transform;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    } 
}