html{
    min-height: 100%;
}

body {
    background-image: $background;
    background-attachment: fixed;
    margin: 0px;
}

.hidden {
    display: none!important;
}

%container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: $shadow;
    border-radius: 10px;
}

%hover {
    transition-duration: 0.3s;
    transition-property: transform;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    } 
}

.nav {
    border-bottom: white 1px solid;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    .headerLogo {
        width: 150px;
        margin: 15px 0;
    }
    .navLink {
        text-decoration: none;
        font-family: $medium;
        font-size: 18px;
        color: #FFFFFF;
        margin-left: 15px;
        &:hover{
            text-decoration: underline;
        }
    }
}

%centerScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    color: $red;
    border-radius: 6px;
    background-color: #fbe2e2;
    margin: 15px 0;
}