.registerForm{
    @extend .loginForm;
    max-width: 600px;
    width: 600px;
    min-width: 240px;
    min-height: 500px;
    height: auto;
    .registerRow{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        span{
            display: flex;
            flex-direction: column;
            flex: 0 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
        }
        .adminRow {
            flex: auto;
            flex-direction: row;
            max-width: 100%;
        }
    }
    .greenCTA{
        margin: 15px auto 0;
        width: 320px;
    }
    #id_isAdmin{
        @extend .switch;
        & + label {
            margin-right: 10px;
        }
    }
}