$switchHeight: 30px;
$switchWidth: $switchHeight * 2;

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
    &  + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: $switchWidth;
      height: $switchHeight;
      background-color: #dddddd;
      border-radius: 60px;
      &:before,
      &:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &:before {
        right: 1px;
        background-color: $lightgrey;
        border-radius: 60px;
        transition: all 0.4s;
      }
      &:after {
        width: $switchHeight + 2px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.4s;
      }
    }
    &:checked + label:before {
      background-color: $green;
    }
    &:checked + label:after {
      transform: translateX($switchHeight);
    }
  }  