$regular: HelveticaNeue;
$medium: HelveticaNeue-Medium;
$bold: HelveticaNeue-Bold;

%text {
    font-family: $regular;
    color: $grey;
}

.bold {
    font-weight: bold;
}

.pageTitle {
    font-family: $bold;
    font-size: 65px;
    color: #FFFFFF;
    line-height: 66px;
    margin: 0 0 20px;
}