.viewLoanHistoryContent {
    @extend .viewUsersContent;
}

.loanHistoryTable {
    @extend .usersTable;

    td {
        width: 150px;
    }
}

#filterRowLoanHistory {
    @extend #filterRow;

    button{
        margin: 0 5px;
    }

    input {
        @extend .select-selected;
        @extend %text;
        border-style: none;
        
    }
}

#errorCell {
    width: unset;
    max-width: unset;
}