.viewLoansContent {
    @extend .viewUsersContent;
    margin: 10% auto;
}

.loansTable {
    @extend .usersTable;
    table {
        width: 100%;

    }
    tr {
        margin: 30px 50px;
    }
    img {
        max-width: 45px;
    }
    .returnLoan {
        @extend %hover;
    }
    .totalItems {
        @extend %text;
        margin: 50px 50px 0;
        font-size: 28px;
        line-height: 32px;
    }
    .emptyLoans {
        @extend .totalItems;
        align-self: center;
    }
    .emptyLoansGrid {
        @extend .landingGrid;
        margin: 20px auto 40px;
    }
    .loansCTA{
        @extend .landingCTA;
        box-shadow: none;
        border: 2px $green solid;
    }
}