.viewLoanHistoryContent {
    @extend .viewUsersContent;
}

.loanHistoryTable {
    @extend .usersTable;
}

#filterRowLoanHistory {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: flex-start;

    .filterForm {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    p {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        @extend %text;
        label {
           color: white;
           font-family: $bold;
           z-index: 1;
        }
    }
    input {
        font-size: 18px;
        line-height: 24px;
    }

    .greenCTA{
        @extend %greenCTA;
    }
}

#id_client_id, #id_item_id, #id_return_date {
    @extend .select-selected;
}

#id_item_type {
    @extend .select-selected;
    min-width: 100px; 
}

#errorCell {
    width: unset;
    max-width: unset;
}

#filter {
    @extend %hover;
    margin-right: 20px;
}