.viewUsersContent {
    margin: 30px auto;
    max-width: 1000px;
}

.usersTable {
    @extend %container;
    max-width: 1000px;
    tr {
        @extend %text;
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $grey;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    td {
        display: flex;
        flex-direction: column;
        max-width: 215px;
        width: 170px;
        &.iconCell{
            max-width: 40px;
            width: 40px;
        }
        &.idCell{
            max-width: 90px;
        }
    }
}