<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <div class = "container">
        <h1>Welcome!</h1>
        <button class="btn btn-primary" type="button" name="login-button" onclick="location.href = '/login';">Login</button>
    </div>
</body>
</html>