{% extends "biblioteca/admin/item_base.html" %}
<head>
    {% block head_content %}
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}"> 
    <script src="{% static 'js/functions.js' %}"></script>    
    {% endblock  %}
</head>
<body>
    {% block content %}
    <div class="addFormContent">
        <h1 class="pageTitle">Add {{ item_type }}</h1>
        {% if messages %}
            <ul class="error">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="addFormContainer" action="/admin/add_item/{{ item_type }}" method="post">
        <div class="addForm">
            {% csrf_token %}
            {% for field in form %}
                <span>
                    <label>{{ field.label_tag }}</label> 
                    {{ field }}
                </span>
                {% if forloop.counter|divisibleby:2 %}
                {% endif %}
            {% endfor %}
        </div>
            <input class="greenCTA" type="submit" value="Add">
        </form>
        <br />
    {% endblock %}
    </div>
</body>
</html>