{% extends "biblioteca/admin/item_base.html" %}
<head>
{% block head_content %}
    <meta charset="utf-8">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
{% endblock  %}
</head>
<body>
{% block content %}
    <h1>Please enter the details of the {{ item_type }} item you'd like to add:</h1>
    <br/>
    <form action="/admin/add_item/{{ item_type }}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
    <br />
{% endblock %}
</body>
</html>
