{% extends "biblioteca/admin/item_base.html" %}
<head>
{% block head_content %}
    <meta charset="utf-8">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
{% endblock  %}
</head>
<body>
{% block content %}
    <h1>Enter this item's new details</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/admin/edit_item/{{ item_type }}/{{ item_id }}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag }} {{ field }}</p>
        {% endfor %}
        <input type="submit" value="Submit">
     </form>
    <br />
{% endblock %}
</body>
</html>
