<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <form action="/admin/edit_item/{{ item_type }}/{{ item_id }}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag }} {{ field }}</p>
        {% endfor %}
        <input type="submit" value="Submit">
     </form>
    <br />
    <div>
    {% include "biblioteca/admin/item_back_button.html" %}
    </div>
</body>
</html>
