{% extends "biblioteca/admin/item_base.html" %}
<head>
    {% block head_content %}
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>    
    {% endblock  %}
</head>
<body>
    {% block content %}
    <div class="editFormContent">
    <h1 class="pageTitle">Edit Item</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="editFormContainer" action="/admin/edit_item/{{ item_type }}/{{ item_id }}" method="post">
        <div class='editForm'>
            {% csrf_token %}
            {% for field in form %}
                <span>
                    <label>{{ field.label_tag }}</label> 
                    {{ field }}
                </span>
                {% if forloop.counter|divisibleby:2 %}
                {% endif %}
            {% endfor %}
        </div>
            <input class="greenCTA" type="submit" value="Save">
        </form>
        <br />
    {% endblock %}
    </div>
</body>
</html>
