<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
</head>
<body>
    <div class="nav">
        <img class="headerLogo" src="../../../static/images/bibliotecaLogoWhite.svg">
    </div>
    <div class="bodyDiv">
        <span class="hello">Hello, {{ user.email }}.</span> <br/>
        <div class="landingGrid">
            <button class="landingCTA" type="button" onclick="location.href = '/admin/users';">
                <img class="icon" src="../../../static/images/users.svg">
                <span>View Users</span>
            </button>
            <button class="landingCTA" type="button" onclick="location.href = '/admin/register';">
                <img class="icon" src="../../../static/images/addClient.svg">
                <span>Add Users</span>
            </button>
            <button class="landingCTA" type="button" onclick="location.href = '/admin/items';">
                <img class="icon" src="../../../static/images/catalog.svg">
                <span>View Catalog</span>
            </button>
            <button class="landingCTA" type="button" onclick="location.href = '/logout';">
                <img class="icon" src="../../../static/images/logOut.svg"></td>
                <span>Log Out</span>
            </button>
        </div>
    </div>
</body>
</html>