<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
</head>
<h1> Yer an admin, {{ user.email }}!</h1>

<a href="/admin/register" class="btn btn-default">Register Users</a> <br />
<a href="/admin/users" class="btn btn-default">Users</a> <br />
<a href="/admin/items" class="btn btn-default">Items</a> <br />
<a href="/logout" class="btn btn-default">Log Out</a> <br />
<a href="/" class="btn btn-default">Home</a>