<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/customSelectForm.js' %}"></script>
</head>
<body onload="customSelect()">
    <div class="nav">
        <img class="headerLogo" src="../../../static/images/bibliotecaLogoWhite.svg">
        <div class="linkArea">
            <a href="/admin" class="navLink">Dashboard</a>
        </div>  
    </div>
    <div class="viewLoanHistoryContent">
        <div class="headerLine">
            <h1 class="pageTitle">Loan History</h1>
            <img id="filter" onclick="toggleFilterLoanHistory()" src="../../../static/images/filter.svg">
        </div>
        <div id="filterRowLoanHistory" class="hidden">
            <form class="filterForm" action="/admin/loan_history" method="get">
                    {{ form.as_p }}
                <button class="enterButton" type="submit" name = "filter_loans">&#10004;</button>
                <button class="clearButton" type="button" name = "clear_filters" onclick="location.href = '/admin/loan_history';">&#10008;</button>
            </form>
        </div>
            <table class="loanHistoryTable"> 
            {% if loan_history|length == 0 %}
            <tr>
                <td id="errorCell">No results using provided filter criteria.</td>
            </tr>
            {% else %}
                {% for item in loan_history %}
                    <tr>
                        <td>
                            <img src="../../../static/images/loanIcon.svg">
                        </td>
                        <td>
                            <span><span class="bold">Loan ID: </span>{{ item.id }}</span>
                            <span><span class="bold">Client ID: </span>{{ item.client_id }}</span>
                            <span><span class="bold">Item ID: </span>{{ item.item_id }}</span>
                        </td>
                        <td>
                            <span><span class="bold">Item ID: </span>{{ item.type }}</span>
                            <span><span class="bold">Stock ID: </span>{{ item.stock_id }}</span>
                        </td>
                        <td>                            
                            <span><span class="bold">Date borrowed:<br></span>{{ item.lent_date }}</span>
                        </td>
                        <td>                            
                            <span><span class="bold">Due date:<br></span>{{ item.return_date }}</span>
                        </td>
                        <td>                            
                            <span><span class="bold">Loan status:<br></span>{{ item.loan_status }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <button class="topButton" onclick="topFunction()"><span>❮</span>&nbsp;&nbsp;Top</button>
    </div>
    <a class="backButton" href="{% url 'admin_landing' %}">❮ Back</a>
</body>
</html>