<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/customSelectForm.js' %}"></script>
</head>
<body onload="customSelect()">
    <div class="nav">
        <img class="headerLogo" src="../../../static/images/bibliotecaLogoWhite.svg">
    </div>
    <a class="backButton" href="{% url 'admin_landing' %}">❮ Back</a>
    <div class="viewLoanHistoryContent">
        <h1 class="pageTitle">Loan History</h1>
        <div class="headerLine">
            <img id="filter" onclick="toggleFilterLoanHistory()" src="../../../static/images/filter.svg">
        </div>
    </br>
        <div id="filterRowLoanHistory" class="hidden">
            <div class="filterForm">
                <span>
                    <form class="filterForm" action="/admin/loan_history" method="get">
                        {{ form.as_p }}
                    <button class="enterButton" type="submit" name = "filter_loans">&#10004;</button>
                    <button class="clearButton" type="button" name = "clear_filters" onclick="location.href = '/admin/loan_history';">&#10008;</button>
                </form></br>
            </span>                    
            </div>
        </div>
            <table class="loanHistoryTable"> 
                <tr>
                    <th>Loan ID</th>
                    <th>Client ID</th>
                    <th>Item Type</th>
                    <th>Item ID</th>
                    <th>Stock ID</th>
                    <th>Date Borrowed</th>
                    <th>Date Due</th>
                    <th>Loan Status</th>
                </tr>
            {% if loan_history|length == 0 %}
            <tr>
                <td id="errorCell">No results using provided filter criteria.</td>
            </tr>
            {% else %}
                {% for item in loan_history %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.client_id }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.item_id }}</td>
                        <td>{{ item.stock_id }}</td>
                        <td>{{ item.lent_date }}</td>
                        <td>{{ item.return_date }}</td>
                        <td>{{ item.loan_status }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <button class="topButton" onclick="topFunction()"><span>❮</span>&nbsp;&nbsp;Top</button>
    </div>
    <a class="backButton" href="{% url 'admin_landing' %}">❮ Back</a>
</body>
</html>