<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <a class="backButton" href="{% url 'admin_landing' %}">❮ Back</a>
    <p>{{ error }}</p>
    <form class="registerForm" action="/admin/register" method="post">
        <img class="bibliotecaLogo" src="/static/images/bibliotecaLogo.svg" />
        {% csrf_token %}
        <div class='registerRow'>
            <span>
                <label>{{form.email.label}}</label>
                {{form.email}}
            </span>
            <span>
                <label>{{form.f_name.label}}</label>
                {{form.f_name}}
            </span>
        </div>        
        <div class='registerRow'>
                <span><label>{{form.password.label}} </label> {{form.password}}</span>
                <span><label>{{form.l_name.label}} </label> {{form.l_name}}</span>
        </div>
        <div class='registerRow'>
                <span> <label>{{form.address.label}} </label> {{form.address}}</span>
                <span> <label>{{form.phone_num.label}} </label> {{form.phone_num}}</span>
        </div>
        <div class='registerRow'>
            <span class='adminRow'>
                {{form.isAdmin}} 
                <label for="id_isAdmin"></label>
                <label>Give Admin rights to new User</label>
            </span>
        </div>
        <input class="greenCTA" type="submit" value="Register">
    </form>
</body>
</html>