<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styling/css/index.css' %}">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <a href="{% url 'admin_landing' %}">Back</a>
    <p>{{ error }}</p>
    <form class="registerForm" action="/admin/register" method="post">
        <img class="bibliotecaLogo" src="/static/images/bibliotecaLogo.svg" />
        {% csrf_token %}
        <div>
            <span>Email{{form.email}}</span>
            <span>First Name{{form.f_name}}</span>
        </div>        
        <div>
                <span>Password{{form.password}}</span>
                <span>Last Name{{form.l_name}}</span>
        </div>
        <div>
                <span>Address{{form.address}}</span>
                <span>Phone{{form.phone_num}}</span>
        </div>
        <div>
            <span>{{form.isAdmin}} Give Admin rights to new User</span>
        </div>
        <input class="greenCTA" type="submit" value="Submit">
    </form>
    <br />
</body>
</html>