<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    <script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity=”sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN” crossorigin=”anonymous”></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script>
        function proceed(id) 
        {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/admin/delete_item');
            form.style.display = 'hidden';
            var id_field = document.createElement("input");
            id_field.type = "hidden";
            id_field.value = id;
            id_field.name = "id";
            form.appendChild(id_field);
            document.body.appendChild(form)
            form.submit();
        }
    </script>
</head>
<body>
    <div>Current Item Type: {{ item_type }}
        <form action="/admin/items" method="post">
            {% csrf_token %}
            <select name="item_type">
                <option value="Magazine">Magazines</option>
                <option value="Movie">Movies</option>
                <option value="Book">Books</option>
                <option value="Music">Music</option>
                <input type="submit" value="Browse"/>
            </select> 
        </form>
        <br/>
    </div>
    <a href="/admin/add_item/{{ item_type }}" class="btn btn-primary">Create new {{ item_type }} item</a>
    <br/> <br/>
    <table class="table"> 
        <tr>
        {% for key,value in items.0.items %}
            <th>{{ key }}</th>
        {% endfor %}
        </tr>
        {% for item in items %}
            <tr>
            {% for key, value in item.items %}
                    <td>{{ value }}</td>
            {% endfor %}
            <tr>
                <td><a href="/admin/edit_item/{{ item_type }}/{{ item.id }}">Edit</a></td>
                <td><button class="btn btn-primary" type="button" name="delete-item-button" onclick="if(confirm('Are you sure you want to delete this item?'))proceed({{ item.id }})">Delete</button></td>
            </tr>
        </table>
        <br/>
    {% endfor %}
    <a href="{% url 'admin_landing' %}">Back</a>
</body>
</html>

<td>{{ property }}</td>
