<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    {% load static %}
    <script src="{% static 'js/functions.js' %}"></script> 
</head>
<body>
    <div>Current Item Type: {{ form.initial.item_type }}<br/>
        <form action="/admin/items" method="get">
	    {{ form }}
	    <input type="submit" name = "change_item_type" value="Browse"><br/>
        {% if items %}
            Sorted by: {{ sorting_form.initial.sort_by }}<br/>
            {{ sorting_form }}
            <input type="submit" name = "change_sorting_type" value="sort">
        {% else %}
            <p>There are no parameters to sort by.</p>
        {% endif %}

        <br/>
        Item Filter
        <br/>
        {{ filter_form }}
        <input type="submit" name="apply_filter", value="filter">
        </form>
    </div>
    <a href="/admin/add_item/{{ form.initial.item_type }}" class="btn btn-primary">Create new {{ form.initial.item_type }} item</a>
    <br/> <br/>
    {% if items %}
        <table class="table">
            <tr>
            {% for key,value in items.0.items %}
                <th>{{ key }}</th>
            {% endfor %}
            </tr>
            {% for item in items %}
                <tr>
                {% for key, value in item.items %}
                        <td>{{ value }}</td>
                {% endfor %}
                    <td><a href="/admin/edit_item/{{ form.initial.item_type }}/{{ item.id }}">Edit</a></td>
                    <td><button class="btn btn-primary" type="button" name="delete-item-button" onclick="if(confirm('Are you sure you want to delete this item?'))deleteItem({{ item.id }},'{{ form.initial.item_type }}')">Delete</button></td>
                </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>There are no items that match your request.</p>
    {% endif %}
    <a href="{% url 'admin_landing' %}">Back</a>
</body>
</html>

<td>{{ property }}</td>
