<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/functions.js' %}"></script>
</head>
<body>
    <table>
    	<tr>
    		<th>Email</th>
    		<th>User ID</th>
    		<th>First Name</th>
    		<th>Last Name</th>
    		<th>Phone Number</th>
    		<th>Address</th>
    		<th>Role</th>
            <th>Last Activity</th>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.user_id }}</td>
                <td>{{ user.f_name }}</td>
                <td>{{ user.l_name }}</td>
                <td>{{ user.phone_num }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.role_id }}</td>
                <td id="time{{ user.user_id }}"></td>
                <script>
                    convertTimezone('{{ user.user_id }}', '{{ user.last_visited.year }}',
                                    '{{ user.last_visited.month }}', '{{ user.last_visited.day }}',
                                    '{{ user.last_visited.hour }}', '{{ user.last_visited.minute }}',
                                    '{{ user.last_visited.second }}');
                </script>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'admin_landing' %}">Back</a>
</body>
</html>