<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function getTime(userID, timeString) {
            console.log(timeString);
            var testInput = "(2018, 11, 3, 6, 49, 0)"; //Represents year, month, day, hours, minutes, seconds.
            var dateValues = testInput.substring(testInput.indexOf("(")+1, testInput.indexOf(")")) //Only get the numbers inside the brackets (i.e. the time values).
            var dateValues = dateValues.split(",");                                                //Gather each data value separately.

            for (var i = 0; i < dateValues.length; i++) {                                          //Remove whitespace.
                dateValues[i] = dateValues[i].trim();
            }

            var GMTString = dateValues[1] + " " +                                 //Format: [MM DD YY HH:mm:SS GMT], this string allows the date to be
                            dateValues[2] + " " +                                 //set with GMT time in mind.
                            dateValues[0] + " " +
                            dateValues[3] + ":" +
                            dateValues[4] + ":" +
                            dateValues[5] + " GMT";
            var newDate = new Date(GMTString);
            console.log(newDate.toString());
            var timeRow = document.getElementById("time" + userID);
            timeRow.innerHTML = newDate.toDateString() + " " + newDate.toLocaleTimeString();
        }
    </script>
</head>
<body>
    <table>
    	<tr>
    		<th>Email</th>
    		<th>User ID</th>
    		<th>First Name</th>
    		<th>Last Name</th>
    		<th>Phone Number</th>
    		<th>Address</th>
    		<th>Role</th>
            <th>Last Activity (UTC)</th>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.user_id }}</td>
                <td>{{ user.f_name }}</td>
                <td>{{ user.l_name }}</td>
                <td>{{ user.phone_num }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.role_id }}</td>
                <td id="time{{ user.user_id }}"></td>
                <script type="text/javascript">
                    getTime('{{ user.user_id }}', '{{ user.last_visited }}');
                </script>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'admin_landing' %}">Back</a>
</body>
</html>